$diceWidth: 80px;

.dice {
	width: 80px;
	height: 80px;
	border: 1px solid #e6e68c;
	background: #ffff99;
	border-radius: 14px;
	position: relative;
	margin: 0 auto;
}

.dot {
	width: 8px;
	height: 8px;
	background: black;
	border-radius: 4px;
	position: absolute;
}

.diceRollButton {
	background: white;
	border: 1px solid black;
	padding: 5px 12px;
	margin-top: 10px;
}
