.playersInfoContainer {
    padding: 20px;
    width: 500px;
    border: 1px solid black;
    margin: 40px auto 0;
    text-align: center;
}

.lbl {
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.playerInput {
	padding: 4px;
	text-align: center;

	input {
		padding: 8px;
	}
}

.playersSelectBtn {
	text-align: center;
}

.playerSelectBtn {
	padding: 8px 20px;
	background: #59a09d;
	display: inline-block;
	color: white;
    margin: 25px 10px 25px;
    box-shadow: 0px 0px 2px #000;
    cursor: pointer;
}

.playerSelectedBtn {
	@extend .playerSelectBtn;
	background: #192b2a;
	box-shadow: none;
}

.submitBtn {
	display: inline-block;
	padding: 10px 25px;
	background: #59a09d;
	cursor: pointer;
	color: white;
}
