.player {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: absolute;
	z-index: 1;
	bottom: -70px;
	left: 20px;
	box-shadow: 0px 0px 4px #000;
	transition: transform 0.6s ease-in-out 0.5s;
}

.red {
	background: red;
}

.green {
	background: green;
}

.yellow {
	background: yellow;
}

.blue {
	background: blue;
}
