$boardWidth: 600px;

snakeLadderBoard {
	width: $boardWidth;
	display: inline-block;
	position: relative;
    border: 10px solid #e2e25b;
    border-radius: 6px;
    margin-right: 20px;

    &::after {
        content: 'START';
        position: absolute;
        width: 100px;
        height: 100px;
        background: #b7b040;
        border: 10px solid #e2e25b;
        border-radius: 6px;
        left: -10px;
        line-height: 80px;
        text-align: center;
        font-size: 20px;
        color: #448e10;
    }
}

.snakeLadderBoard {
    @extend snakeLadderBoard;

    margin-bottom: 100px;

    &::after {
        top: auto;
        bottom: -101px;
    }
}

.snakeLadderBoardReverse {
    @extend snakeLadderBoard;

    margin-top: 100px;

    &::after {
        top: -101px;
    }
}

.cell {
    display: inline-block;
    vertical-align: middle;
    width: $boardWidth/10;
    height: $boardWidth/10;
    background: white;
    padding: 6px;
    border: 1px solid #989898;
    color: #3b3b3b;
    margin: -1px;

    &.snake {
    	background: #de4242;
    }

    &.ladder {
    	background: #60c760;
    }

    &.snake, &.ladder {
    	div {
    		font-size: 12px;
    	}
    }
}
