$boardWidth: 600px;

.snakeLadderBoard {
	width: $boardWidth;
	display: inline-block;
	position: relative;
}

.cell {
    display: inline-block;
    vertical-align: middle;
    width: $boardWidth/10;
    height: $boardWidth/10;
    background: white;
    padding: 6px;
    border: 1px solid black;
    margin: -1px;

    &.snake {
    	background: #de4242;
    }

    &.ladder {
    	background: #60c760;
    }

    &.snake, &.ladder {
    	div {
    		font-size: 12px;
    	}
    }
}
