.dice {
	border: 1px solid #e6e68c;
	background: #ffff99;
	border-radius: 14px;
	position: relative;
	margin: 0 auto;
	display: inline-block;
}

.dot {
	background: black;
	border-radius: 4px;
	position: absolute;
}
